* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
body {
    background-image: url("https://media.istockphoto.com/id/1333043586/pt/foto/tornado-in-stormy-landscape-climate-change-and-natural-disaster-concept.jpg?s=1024x1024&w=is&k=20&c=4DLI-xeLeLP-ZHVN2-Jlmw7HYHZXT9b3rkU0yqguvg0=");
background-size: cover;
height: 100vh;
width: 100vw;
display: flex;
align-items: center;
justify-content: center;


.caixa-maior {
    background-color: #000000;
opacity: 0.8;
width: 95%;
max-width: 450px;
border-radius: 14px;

}
.lupa {
height: 20px;
width: 20px;

}
button {
    border: none;
    padding: 10px;
    background-color: #7c7c7c2b;
    cursor: pointer;
    border-radius: 50%;
    float: right;

}

button:hover {
    background-color: #7c7c7c;
}

input {
    border: none;
    outline: none;
    border-radius: 20px;
    padding: 10px;
background-color: #7c7c7c2b;
color: #ffffff;
width: calc(100% - 100px);
font-size: 24px;

}

.caixa-média {
margin-top: 30px;

}

.cidade {
color: #ffffff;
font-size: 28px;
margin-left: 10px;

}

.temp {
color: #ffffff;
margin-top: 30px;
font-size: 30px;
margin-left: 10px;

}
.icone {
    height: 32px;
    color: #ffffff;
    margin-left: 10px;

}
.umidade {
color: #ffffff;
margin-top: 28px;
margin-left: 10px;

}



